html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.content {
  margin-left: 242px;
  margin-top: 48px;
  padding: 0;
  width: calc(100vw - 242px);
  align-items: center;
  justify-content: center;
  display: flex;
  height: calc(100vh - 48px);
  overflow: hidden;
  flex-grow: 1;
}
