html,
body {
  height: 100%;
  margin: 0;

  overflow: hidden;
}

#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
  scrollbar-width: none;

}


.content {
  margin-left: 305px;
  margin-top: 48px;
  padding: 0;
  width: calc(100% - 300px);
  align-items: center;
  justify-content: center;
  display: flex;
  height: calc(100vh - 48px);
  overflow: hidden;
  flex-grow: 1;
}
